* {
    color: purple;
  }


  div {
    color: green;
  }

  .alert-text {
    color: red;
  }

  #title {
    background-color: rgb(148, 148, 148);
  }


  .unread {
    color: gray;
    font-size: 70px
  }

  .read {
    color: rgb(228, 0, 0);
    font-family: "Times New Roman", serif;
    font-weight: 100
  }

  .read,
.unread {
  background-color: black;
}

img {
  height: auto;
  width: 500px;
}